input {
    height : 40px;
    border-radius:12px;
    display:block;
    margin-top: 20px;
    margin:20px;
    padding:5px 15px;
    width:100%;
}
.search-wrapper {
    width : 600px;
    padding:25px;
}